*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&family=Zilla+Slab:ital@1&display=swap');

/* ----------------Tipografía------------------ */

/*  font-family: 'Poppins', sans-serif;
    font-family: 'Zilla Slab', serif;
*/

/* ---------------Paleta de Colores------------ */

/*  aa91c5
    caa892b2
    7a4ea67a

    b69079
    7A4EA6
    D5C3E8
    D2B9D8
         
*/

/* ---------Propiedades del Header---------- */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #aa91c5;
    align-items: flex-end;
    padding: 0px 1.25rem;
    position: sticky;
    top: 0rem;
} 

.nav-wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0rem;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #aa91c5;
    padding: 1rem 1.5rem;
}

nav .logo{
    font-size: 2.1875rem;
    font-weight: 700;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2.375rem;
    text-transform: uppercase;
}

nav img{
    border-radius: 50%;
}

/* -----------Pseudoclases-----------*/

.menu li a:hover{
    color: black;
    text-decoration: underline;
    transition: 0.5s;
} 

nav #toggle, nav label{
    display: none;
}


/* --------Propiedades Main del Index----------- */

.conte-figuras{
    display: grid;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-content: center;
    padding: .9375rem;
    gap: 20px;
    background-color: #caa892b2;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "figuras1 figuras2 figuras3 figuras4"
    "figuras1 figuras2 figuras3 figuras4"
    ;
}

.figuras-1{
   grid-area: figuras1;
}
.figuras-2{
    grid-area: figuras2;
}
.figuras-3{
    grid-area: figuras3;
}
.figuras-4{
    grid-area: figuras4;
}
.figuras-5{
    grid-area: figuras5;
}

.descri-centro{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #caa892b2;
    padding-top: 40px;
    padding-bottom: 2.5rem;
    text-shadow: 10px 10px 10px rgba(10, 10, 10, 0.61);
}

.conte-figuras h3{
    text-align: center;
}

.figuras{
    width: 100%;
    background-color: #a183c07a;
    border-radius: 5%;
    overflow: hidden;
    margin: .3125rem; 
    box-shadow: .25rem .25rem .625rem rgba(85, 71, 71, 0.74);
}

.comentario{
    text-align: center;
    font-family: 'Zilla Slab', serif;
    background-color: #caa892b2;
    padding-bottom: 40px;
    padding-top: 1.25rem;
}

.figuras img{
    width: 100%;
}

/*---------Pseudoclases del Index---------*/

.conte-figuras .figuras:hover{
    box-shadow: 0px 0px 15px grey;
    overflow: hidden;
}


/* ---------Propiedades Main de Conocenos------ */

.imagen-conoce{
    display: grid;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-content: center;
    background-color: #c7a28cda;
    padding: .625rem;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "centro1 centro2 centro3 centro4"
    "centro1 centro2 centro3 centro4"
    ;
}

.centro-1{
    grid-area: centro1;
}
    
 .centro-2{
     grid-area: centro2;
     
 }
 .centro-3{
     grid-area: centro3;
     
 }
 .centro-4{
     grid-area: centro4;
     
 }
 
.centro{
    width: 100%;
    background-position: center;
    border-radius: 10%;
    overflow: hidden;
    margin: .3125rem; 
}

.descri-conoce{
    text-align: center;
    background-color: #c7a28cda;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.direccion iframe{
    width: 100%;
    height: 12.5rem;
    background-color: #c7a28cda;
    padding-top: 1.875rem;
}    

.direccion h3{
    background-color: #c7a28cda;
    padding-top: 1.5625rem;
    text-align: center;
}


/*---------Pseudoclases de Conocenos---------*/

.imagen-conoce .centro:hover{
    box-shadow: 0px 0px 15px grey;
    overflow: hidden;
}


/* --------Propiedades Tratamientos----- */
                /* Bootstrap */

.bg-lila{
    background-color: #aa91c5;
}

.bg-antiquewhite{
    background-color: antiquewhite;
}


/* --------Propiedades Main de Videos---------- */

.contenedor-video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-content: center;
    background-color: #c7a28cda;
    padding: .625rem;
    gap: 20px;
    
}

.descri-video{
    text-align: center;
    background-color: #c7a28cda;
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
    text-shadow: 10px 10px 10px rgba(10, 10, 10, 0.61);
}

.explica{
    text-align: center;
    background-color: #c7a28cda;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

/* --------Propiedades de Contacto---------- */

/* --------Propiedades del Footer---------- */

.contenedor-formu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 25rem;
    justify-content: center;
    align-content: center;
    background-color: antiquewhite;
    padding: .625rem;
    gap: 20px;
}
.formulario{
    width: 100%;
    height: auto;
}

.campos-1{
    height: 6.25rem;
}
.campos-2{
    height: 6.25rem;
}
.legend-1{
    padding-bottom: 1.5625rem;
}
.legend-2{
    padding-bottom: 1.5625rem;
}
input{
    margin-top: .625rem;
    margin-bottom: 1.875rem;

}


/* --------Propiedades del Footer---------- */

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 6.25rem; 
    justify-content: space-between;
    align-items: center;
    background-color: #aa91c5;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.whatsapp img{
    width: 70%;
    border-radius: 50%;
}

.insta img{
    width: 70%;
    border-radius: 50%;
}

.face img{
    width: 70%;
    border-radius: 50%;
}

.youtube img{
    width: 70%;
    border-radius: 50%;
}



/* -----------Media Queries----------*/

@media (max-width: 1024px){
    .conte-figuras{
        padding: .625rem;
    }
}


@media (max-width: 768px){
      
    /*--------Header-------*/
    
    nav a{
        font-size: .9375rem;
    }

    nav .logo{
        font-size: 1.875rem;
    }

     nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        gap: .625rem;
    }

    nav label{
        display: flex;
        color: white;
        cursor: pointer;
    }

    nav #toggle:checked ~ .menu{
        height: 100%;
    }

    nav img{
        border-radius: 50%;
    }


    /*-------Main Index--------*/

    .conte-figuras{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "figuras1 figuras2"
        "figuras1 figuras2"
        "figuras3 figuras4"
        "figuras3 figuras4"
        ;
    }
    
    .descri-centro{
        font-size: .9375rem;
    }
    
    .conte-figuras h3{
        text-align: center;
        font-size: .75rem;
    }
    
    .figuras{
        width: 70%;
        margin-left: 3.125rem;
    }
    
    .comentario{
        font-size: .875rem;
    }
    
    
    /* -------Main de Conocenos------ */

.imagen-conoce{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "centro1 centro2"
    "centro1 centro2"
    "centro3 centro4"
    "centro3 centro4"
    ;
}

.centro{
    width: 60%;
    margin-left: 4.375rem;
     
}

.descri-conoce{
   font-size: .75rem;
}

.direccion h3{
    font-size: .9375rem;
}


    /* --------Footer---------- */

.whatsapp img{
    width: 50%;
}

.insta img{
    width: 50%;
}

.face img{
    width: 50%;
}

.youtube img{
    width: 50%;
}

.contacto{
    font-size: .75rem;
}

.seguinos{
    font-size: .75rem;
}
}



@media (max-width: 425px){
    
    /*--------Header-------*/

    nav .logo{
        font-size: 1.375rem;
    }

    nav ul{
        padding: 0px 0px;
        gap: .3125rem;
    }

    nav img{
        display: none;
    }

    nav a{
        font-size: .75rem;
    }

    /*-------Main Index--------*/

    .conte-figuras{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "figuras1"
        "figuras2"
        "figuras3"
        "figuras4"
        ;
    }
     
    .descri-centro{
        font-size: .75rem;
    }
    
    .conte-figuras h3{
        display: none;
    }
    
    .figuras{
        width: 45%;
        margin-left: 6.25rem;
    }
    
    .comentario{
        font-size: .75rem;
    }

    /* -------Main de Conocenos------ */

.imagen-conoce{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "centro1"
    "centro2"
    "centro3"
    "centro4"
    ;
}

.centro{
    width: 40%;
    margin-left: 7.1875rem;
     
}

.descri-conoce{
   font-size: .625rem;
}

.direccion h3{
    font-size: .75rem;
}

    /* --------Footer---------- */

    .whatsapp img{
        width: 40%;
    }
    
    .insta img{
        width: 40%;
    }
    
    .face img{
        width: 40%;
    }
    
    .youtube img{
        width: 40%;
    }
    
    .contacto{
        display: none;
    }
    
    .seguinos{
        display: none;
    }
}


@media (max-width: 375px){
        
    /*--------Header-------*/

    nav .logo{
        font-size: 1.125rem;
    }

    nav img{
        display: none;
    }

    nav a{
        font-size: .625rem;
    }

    /*-------Main Index--------*/
    
    .descri-centro{
        font-size: .5625rem;
    }
    
    .conte-figuras h3{
        display: none;
    }
    
    .figuras{
        width: 40%;
        margin-left: 6.25rem;
    }
    
    .comentario{
        font-size: .625rem;
    }

    /* -------Main de Conocenos------ */

    .centro{
        width: 35%;
        margin-left: 6.875rem;
    }

    .descri-conoce{
        display: none;
    }

    .direccion h3{
        font-size: .625rem;
    }

    .direccion iframe{
        height: 7.5rem;
    }
}

@media (max-width: 320px){

    /*--------Header-------*/

    nav .logo{
        font-size: .9375rem;
    }

    nav img{
        display: none;
    }

    nav a{
        font-size: .5rem;
    }

    /*-------Main Index--------*/

    .descri-centro{
        font-size: .4375rem;
    }
    
    .conte-figuras h3{
        display: none;
    }
    
    .figuras{
        width: 35%;
        margin-left: 5.625rem;
    }
    
    .comentario{
        font-size: .5rem;
    }

    /* -------Main de Conocenos------ */

    .centro{
        width: 30%;
        margin-left: 6.25rem;
    }

    .descri-conoce{
    display: none;
    }

    .direccion h3{
        font-size: .625rem;
    }

    .direccion iframe{
        height: 6.25rem;
    }

    /* --------Footer---------- */
    
    .whatsapp img{
        width: 35%;
    }
    
    .insta img{
        width: 35%;
    }
    
    .face img{
        width: 35%;
    }
    
    .youtube img{
        width: 35%;
    }
    
    .contacto{
        display: none;
    }
    
    .seguinos{
        display: none;
    }
}